<ion-menu contentId="main-content" side="start" type="overlay">
  <ion-content>
    <div class="menu-header" (click)="navigateTo('/perfil')">
      <ion-icon name="person-circle-outline" class="profile-picture"></ion-icon>
      <div class="user-info">
        <h2>{{ userName }}</h2>
        <p>{{ userEmail }}</p>
      </div>
    </div>
    <ion-list lines="none">
      <ion-item button (click)="navigateTo('/gallery')">
        <ion-label>{{ 'GALLERY' | translate }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" class="seta"></ion-icon>
      </ion-item>
      <ion-item button (click)="navigateTo('/function')">
        <ion-label>{{ 'HOW_IT_WORKS' | translate }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" class="seta"></ion-icon>
      </ion-item>
      <ion-item button (click)="navigateTo('/perfil')">
        <ion-label>{{ 'PROFILE' | translate }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" class="seta"></ion-icon>
      </ion-item>
    </ion-list>
    <div class="menu-header" style="margin-top: 400px;"></div>
    <div class="menu-rodape">
      <ion-icon name="globe-outline" slot="start"></ion-icon>
      <ion-select interface="popover" placeholder="{{ 'SELECT_LANGUAGE' | translate }}" [(ngModel)]="selectedLanguage" (ionChange)="updateLanguage()">
        <ion-select-option value="Português do Brasil">Português do Brasil</ion-select-option>
        <ion-select-option value="English (US)">English (US)</ion-select-option>
      </ion-select>

      <div class="toggle-container">
        <ion-icon name="{{ darkModeEnabled ? 'moon' : 'sunny' }}"></ion-icon>
        <span>{{ darkModeEnabled ? ( 'DARK_MODE' | translate ) : ( 'LIGHT_MODE' | translate ) }}</span>
        <ion-toggle [(ngModel)]="darkModeEnabled" (ionChange)="toggleDarkMode()"></ion-toggle>
      </div>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false" style="height: 80px; margin-left: 20px; font-size: 50px;"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <img src="./assets/imgs/logoCerta.png" alt="Logo" style="height: 120px; margin-top: 30px;">
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="navigateTo('/perfil')">
          <ion-icon name="person-circle-outline" slot="icon-only" style="height: 80px; margin-right: 20px; font-size: 45px;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content style="--background: #101728;">
    <!-- Título -->
    <h1 [innerHTML]="'TITLE' | translate | safeHtml"></h1>
    <p [innerHTML]="'SUBTITLE' | translate | safeHtml"></p>

    <!-- Inserir Imagem -->
    <div class="upload-container">
      <div class="upload-area" (click)="triggerFileInput()">
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
        <div *ngIf="!selectedFile && !isLoading && !restoredImageUrl" class="icon-background"></div> 
        <ion-icon *ngIf="!selectedFile && !isLoading && !restoredImageUrl" name="image-outline" class="custom-icon"></ion-icon>
        <p *ngIf="!selectedFile && !isLoading && !restoredImageUrl" class="instrucoes" [innerHTML]="'UPLOAD_INSTRUCTIONS' | translate | safeHtml"></p>
        <div *ngIf="isLoading" class="loading-spinner">
          <div class="spinner"></div>
        </div>
        <img *ngIf="selectedFile && !isLoading && !restoredImageUrl" [src]="selectedImageUrl" alt="Selected Image" class="preview-image" />
        <img *ngIf="restoredImageUrl && !isLoading" [src]="restoredImageUrl" alt="Restored Image" class="preview-image" />

        <!-- Botão de Download -->
        <button *ngIf="restoredImageUrl && !isLoading" (click)="downloadImage()" class="download-button">
          <ion-icon name="download-outline"></ion-icon>
        </button>
      </div>
    </div>
    <div class="button-class"> 
      <div class="square-background"></div>
      <button [ngClass]="buttonClass" (click)="onRestoreButtonClick()">{{ buttonTextKey | translate }}</button>
    </div>
    
    <p class="test" [innerHTML]="'TEST' | translate | safeHtml"></p>
    <div class="before-after-container" #container>
      <img src="./assets/imgs/imagem_antes.png" alt="Antes" class="before-image"> 
      <div class="after-image" #afterImage style="background-image: url('./assets/imgs/imagem_depois.png');"></div>
      <div class="slider" #slider (mousedown)="startDragging($event)"></div>
    </div>
    
    <p class="test" style="margin-left: 5px; margin-right: 5px;">
      <span [innerHTML]="'ABOUT' | translate | safeHtml"></span>
    </p>
    <p class="text" [innerHTML]="'DESCRIPTION' | translate | safeHtml"></p>
    
    <div class="rodape-decorativo">
      <img src="./assets/imgs/imagem_abstrata.png">
    </div>
    <div class="linha">
      <img src="./assets/imgs/linha_abstrata.png">
    </div>

    <div></div>

    <div class="footer-container">
      <img src="./assets/imgs/logo_nome_rodape.png" alt="Logo" width="400" style="margin-left: 15px;">
      <p class="faleConosco">{{ 'CONTACT_US' | translate }}</p>
      <p class="info1">(42) 99800-5326</p>
      <p class="info3">Rua Rodolfo Schulmberger, 26, Irati-PR, Brasil</p>
      <p class="info4">contato&#64;imagewizard.com.br</p>
      <div style="margin: 20px;"></div>
      <div class="legal-links">
        <p class="info2">{{ 'TERMS_OF_SERVICE' | translate }}</p>
        <p class="info5">{{ 'GENERAL_TERMS_CONDITIONS' | translate }}</p>
        <p class="info6">{{ 'PRIVACY_POLICY' | translate }}</p>
        <p class="info7">{{ 'COOKIE_POLICY' | translate }}</p>
        <p class="info8">{{ 'LEGAL_NOTICE' | translate }}</p>
      </div>
      <div class="social-media-container">
        <ion-icon name="logo-instagram" class="social-media"></ion-icon>
        <ion-icon name="logo-facebook" class="social-media"></ion-icon>
        <ion-icon name="logo-linkedin" class="social-media"></ion-icon>
      </div>
    </div>
    

    <div></div>
  </ion-content>
</div>