<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" style="height: 80px; margin-left: 20px; font-size: 50px;"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="./assets/imgs/logoCerta.png" alt="Logo" style="height: 120px; margin-top: 30px;">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person-circle-outline" slot="icon-only" style="height: 80px; margin-right: 20px; font-size: 45px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>