<div class="signup-container">
  <ion-icon name="arrow-back" class="back-icon" (click)="navigateTo('/signin')"></ion-icon>
  <img src="./assets/imgs/logoCerta.png" alt="Logo" class="logo">
  <h2>Cadastre-se!</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="email">Email</label>
      <div class="input-container">
        <ion-item>
          <ion-input id="email" type="email" formControlName="email" required></ion-input>
        </ion-item>
        <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid" class="error-message">
          <small *ngIf="signupForm.get('email')?.errors?.['required']">Email é obrigatório.</small>
          <small *ngIf="signupForm.get('email')?.errors?.['email']">Email inválido.</small>
        </div>
      </div>
    </div>

    <div class="input-group">
      <label for="name">Nome</label>
      <div class="input-container">
        <ion-item>
          <ion-input id="name" type="text" formControlName="name" required></ion-input>
        </ion-item>
        <div *ngIf="signupForm.get('name')?.touched && signupForm.get('name')?.invalid" class="error-message">
          <small *ngIf="signupForm.get('name')?.errors?.['required']">Nome é obrigatório.</small>
        </div>
      </div>
    </div>

    <div class="input-group">
      <label for="password">Senha</label>
      <div class="input-container">
        <ion-item>
          <ion-input id="password" [type]="passwordType" formControlName="password" required></ion-input>
          <ion-icon [name]="passwordIcon" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>
        <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid" class="error-message">
          <small *ngIf="signupForm.get('password')?.errors?.['required']">Senha é obrigatória.</small>
          <small *ngIf="signupForm.get('password')?.errors?.['minlength']">Senha deve ter pelo menos 8 caracteres.</small>
          <small *ngIf="signupForm.get('password')?.errors?.['pattern']">
            Senha deve conter pelo menos:
            <ul>
              <li>Um caractere maiúsculo</li>
              <li>Um caractere minúsculo</li>
              <li>Um número</li>
              <li>Um caractere especial</li>
            </ul>
          </small>
        </div>
      </div>
    </div>

    <div class="input-group">
      <label for="confirm-password">Confirmar Senha</label>
      <div class="input-container">
        <ion-item>
          <ion-input id="confirm-password" [type]="confirmPasswordType" formControlName="confirmPassword" required></ion-input>
          <ion-icon [name]="confirmPasswordIcon" slot="end" (click)="toggleConfirmPasswordVisibility()"></ion-icon>
        </ion-item>
        <div *ngIf="signupForm.get('confirmPassword')?.touched && signupForm.get('confirmPassword')?.invalid || signupForm.errors?.['passwordMismatch']" class="error-message">
          <small *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">Confirmação de senha é obrigatória.</small>
          <small *ngIf="signupForm.errors?.['passwordMismatch']">Senhas não conferem.</small>
        </div>
      </div>
    </div>

    <ion-button expand="full" class="signup-button" [disabled]="signupForm.invalid">Cadastrar</ion-button>
  </form>
</div>
