ion-header,
ion-toolbar,
ion-content {
  --background: #101728 !important; 
  --ion-background-color: #101728 !important; 
  --ion-color-base: #101728 !important; 
  color: #ffffff; 
}

//MENU
ion-menu::ng-deep ion-content {
  --background: #3A5492 !important; /* Força a cor de fundo para o conteúdo do menu */
}

ion-menu {
  --ion-background-color: #3A5492 !important; /* Cor de fundo do menu */
}

ion-content {
  background-color: #3A5492 !important; /* Aplica a cor diretamente e usa !important para sobrescrever estilos conflitantes */
}

.menu-header {
  font-family: 'CodecProExtraBold', sans-serif;
  text-align: left;
  padding: 20px;
  border-bottom: 4px solid #ffffff; /* Linha divisória opcional */
  color: #ffffff;
  
  h2{
    font-weight: bold; 
    margin-left: 80px;
    margin-top: -60px;
    font-size: 23px;
  }
  p{
    font-family: 'CodecPro', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -10px;
    font-weight: normal !important; 
  }
}

.menu-rodape {
  color: #ffffff;
  font-size: 25px; /* Ajusta conforme necessário */
  
  ion-icon {
    color: #ffffff;
    font-size: 35px; /* Tamanho do ícone */
    margin-left: 10px; /* Espaço entre o ícone e o texto */
    margin-top: 10px;
  }
  ion-select {
    font-family: 'CodecPro', sans-serif;
    font-weight: normal;
    margin-left: 55px; /* Espaço entre o label e o select */
    margin-top: -43px;
    font-size: 25px;
  }
  
}

.seta {
  color: #ffffff !important;
  left: 15px;
  height: 35px;
  font-weight: bold; 
}

.toggle-container {
  font-family: 'CodecPro', sans-serif;
  font-weight: normal;
  font-size: 25px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre os ícones e o toggle */


  ion-icon {
    font-size: 35px; /* Ajuste conforme necessário */
    color: #ffffff; /* Cor do ícone */
    margin-top: -5px;
  }
}

ion-toggle {
  --handle-background: #ffffff; /* Cor do manipulador do toggle */
  --background-checked: #10172 !important; /* Cor do fundo quando ativado */
  --background: #cccccc; /* Cor do fundo quando desativado */
}

.profile-picture {
  color:#FFFFFF !important;
  align-items: left;
  width: 80px;
  height: 70px;
  border-radius: 50%;
  margin-top: -5px;
  margin-left: -10px;
}

.user-info{
  font-weight: bold; 
}

ion-list {
  --ion-background-color: #3A5492 !important;
  margin-top: 20px;
}

ion-item {
  --background: transparent; /* Remove qualquer fundo padrão */
  --color: #ffffff; /* Cor do texto dos itens */
  --padding-start: 0; /* Alinha texto à esquerda */
  --inner-padding-end: 0; /* Alinha ícones à esquerda */
  --ion-item-icon-color: #ffffff; /* Cor dos ícones */
  margin-left: 12px;
}

ion-label {
  font-family: 'CodecProExtraBold', sans-serif;
  font-size: 30px !important;
  margin-top: 20px;
  margin-left: 10px; /* Espaço entre ícone e texto */
}

ion-content {
    background: #101728; // Ajuste conforme a cor de fundo desejada
  
    .info-section {
      text-align: center;
      color: #ffffff;
  
      h1 , p{
        text-align: center; 
        font-family: 'CodecProExtraBold', sans-serif;
      }
      h1{
      color: #FF3C5F; 
      font-size: 45px;
      font-weight: bold; 
      margin-top: 30px; 
      }
      p{
      font-family: 'CodecPro', sans-serif;
      align-items: left;
      font-weight: bold;
      margin-left: -150px;
      color: #ffffff; 
      font-size: 20px;
      margin-top: 50px; 
      }
  
      .section-content {
        padding: 10px;
        border-radius: 8px;
  
        h2 {
            text-align: center; 
            font-family: 'CodecProExtraBold', sans-serif;
            color: #9340FF; // Cor para os títulos das seções
            font-size: 38px;
            margin-bottom: -25px;
        }
  
        p {
            margin-left: 30px;
            margin-right: 30px;
            font-family: 'CodecPro', sans-serif;
            text-align: justify;
          font-size: 20px;
          line-height: 1.6; // Espaçamento entre linhas para melhor leitura
        }
  
        img {
          width: 100%; // Assegura que a imagem preencha a largura da seção
          border-radius: 5px;
          margin-bottom: 10px;
        }
      }
    }

    //Rodapé
      .linha {
        margin-left: 8px;
        margin-top: 40px; 
      }
      


      .faleConosco{
        font-family: 'CodecProExtraBold', sans-serif;
        color: #9340FF;
        text-align: left; 
        font-size: 35px;
        margin-left: 20px; 
        margin-bottom: -10px;
      }

      .info1 {
        font-family: 'CodecPro', sans-serif;
        color: #FFFFFF;
        text-align: left; 
        margin-left: 20px; 
        font-size: 16px;
        margin-right: 20px;

        
      }

      .info3 {
        font-family: 'CodecPro', sans-serif;
        color: #FFFFFF;
        text-align: left; 
        margin-left: 20px; 
        font-size: 16px;
        margin-right: 20px;
        margin-top: -5px;
      }

      .info4 {
        font-family: 'CodecPro', sans-serif;
        color: #FFFFFF;
        text-align: left; 
        margin-left: 20px; 
        font-size: 16px;
        margin-right: 20px;
        margin-top: -5px;
      }


      .info2 {
        font-family: 'CodecPro', sans-serif;
        color: #FFFFFF;
        text-align: left; 
        margin-left: 20px; 
        font-size: 16px;
        margin-right: 20px;
        font-weight: bold; 
        margin-top: -35px;
      }

      .info5 {
        font-family: 'CodecPro', sans-serif;
        color: #FFFFFF;
        text-align: left; 
        margin-left: 20px; 
        font-size: 16px;
        margin-right: 20px;
        font-weight: bold; 
        margin-top: -5px ;
      }
      .info6 {
        font-family: 'CodecPro', sans-serif;
        color: #FFFFFF;
        text-align: left; 
        margin-left: 20px; 
        font-size: 16px;
        margin-right: 20px;
        font-weight: bold; 
        margin-top: -5px;
      }
      .info7 {
        font-family: 'CodecPro', sans-serif;
        color: #FFFFFF;
        text-align: left; 
        margin-left: 20px; 
        font-size: 16px;
        margin-right: 20px;
        font-weight: bold; 
        margin-top: -5px;
      }
      .info8 {
        font-family: 'CodecPro', sans-serif;
        color: #FFFFFF;
        text-align: left; 
        margin-left: 20px; 
        font-size: 16px;
        margin-right: 20px;
        font-weight: bold; 
        margin-top: -5px;
      }

      .social-media-container {
        position: absolute; /* Mantém o posicionamento absoluto */
        right: 40px; /* Alinha ao lado direito com 20px de margem do lado direito */
        top: 2925px !important; /* Alinha verticalmente ao centro do footer */
        transform: translateY(-50%); /* Ajusta precisamente ao centro */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Espaçamento entre ícones */
      }
    
      .social-media {
          color: #FFFFFF;
          font-size: 35px; /* Aumenta o tamanho dos ícones */
          margin: 5px 0; /* Aumenta o espaçamento vertical entre os ícones */
      }

      .footer-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }
    
    .legal-links {
        text-align: center;
        margin-top: 20px;
    }
    
  }

  